@import url('https://fonts.googleapis.com/css?family=VT323');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

body {
  background-color: darkslategrey;
}

.container {
  text-align: center;
}

.container h1 {
  color: white;
  font-size: 40pt;
}

.container button {
  display: inline-block;
  margin: 0 auto 0.6em;
  background-color: transparent;
  padding: 15px;
  font-family: 'VT323', monospace;
  font-size: 20pt;
  color: white;
  border: 2px dashed white;
  outline: none;
}

.container button:hover {
  background-color: white;
  border: 2px solid white;
  color: darkslategray;
}

.container .hide {
  display: none;
}

.container #myCanvas {
  display: block;
  margin: 0 auto;
}

.player {
  padding: 15px;
  font-size: 20pt;
  font-family: 'VT323', monospace;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}